<a href="https://colab.research.google.com/github/zaq9/nk225_list/blob/master/op_code/op_code_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

sv = 'https://www.jpx.co.jp'


def latest_csv_path():
	"""
	:return: str
		JPXサーバ内にある最新の清算値CSVファイルへのPATH
	"""
	req = requests.get(sv + "/markets/derivatives/jnet-derivative/index.html")
	soup = BeautifulSoup(req.content, 'html.parser')
	return soup.find(class_="component-file").a.get('href')


def csv_to_df(csv_path, max_maturity_day=90):
	"""
	清算値CSVファイルをDataFrameに変換
	Parameters
	----------
	csv_path : str
	max_maturity_day :  int , default 90
		最大、SQ期日が何日後までのデータを取得するか（規定値９０日後）
	Returns
	-------
	DataFrame

	"""

	colName = ("CODE", "NAME", "TYPE", "MATURITY", "STRIKE",
	           "PRICE", "TPRICE", "NK", "IV", "R", "TIME", "BASE")
	df = pd.read_csv(sv + csv_path, skiprows=3, encoding="SHIFT-JIS", names=colName)
	df = df.query(
		'BASE=="日経225"').query(
		f'TIME<={max_maturity_day}').dropna()
	df = df.assign(
		PRICE=df.PRICE.astype(int),
		STRIKE=df.STRIKE.astype(int),
		lb=df['MATURITY'].astype(str).str[4:] + '/' + df.TYPE.str[0] + \
		   df['STRIKE'].astype(int).astype(str)).set_index(
		'lb')[["CODE", "PRICE", "TYPE", "STRIKE", "MATURITY", "IV"]]
	return df

In [2]:
csv_path = latest_csv_path()
df = csv_to_df(csv_path)
df[['CODE']].to_csv('op_code_list.csv')
df

                  CODE  PRICE TYPE  STRIKE  MATURITY       IV
lb
03/C8000     144158018  13410  CAL    8000    201903   1.0000
03/C9000     194039018  12410  CAL    9000    201903   1.0000
03/C9500     194039518  11910  CAL    9500    201903   1.0000
03/C10000    194030018  11410  CAL   10000    201903   1.0000
03/C10500    194030518  10910  CAL   10500    201903   1.0000
03/C11000    194031018  10410  CAL   11000    201903   1.0000
03/C11500    194031518   9910  CAL   11500    201903   1.0000
03/C12000    194032018   9410  CAL   12000    201903   1.0000
03/C12500    194032518   8910  CAL   12500    201903   1.0000
03/C13000    194033018   8410  CAL   13000    201903   1.0000
03/C13500    194033518   7910  CAL   13500    201903   1.0000
03/C14000    194034018   7410  CAL   14000    201903   1.0000
03/C14250    194034218   7160  CAL   14250    201903   1.0000
03/C14500    194034518   6910  CAL   14500    201903   1.0000
03/C14750    194034718   6660  CAL   14750    201903   1.0000
03/C15000    194035018   6410  CAL   15000    201903   1.0000
03/C15250    144035218   6160  CAL   15250    201903   1.0000
03/C15500    144035518   5910  CAL   15500    201903   1.0000
03/C15750    144035718   5660  CAL   15750    201903   1.0000
03/C16000    144036018   5410  CAL   16000    201903   1.0000
03/C16250    144036218   5160  CAL   16250    201903   1.0000
03/C16500    144036518   4910  CAL   16500    201903   1.0000
03/C16750    144036718   4660  CAL   16750    201903   1.0000
03/C17000    144037018   4410  CAL   17000    201903   1.0000
03/C17125    144037118   4280  CAL   17125    201903   1.0000
03/C17250    144037218   4160  CAL   17250    201903   1.0000
03/C17375    144037318   4030  CAL   17375    201903   1.0000
03/C17500    144037518   3910  CAL   17500    201903   1.0000
03/C17625    144037618   3780  CAL   17625    201903   1.0000
03/C17750    144037718   3660  CAL   17750    201903   1.0000
...                ...    ...  ...     ...       ...      ...
0322/P21000  134481020    285  PUT   21000  20190322  19.7124
0322/P21125  134481120    330  PUT   21125  20190322  19.5355
0322/P21250  134481220    380  PUT   21250  20190322  19.3553
0322/P21375  134481320    445  PUT   21375  20190322  19.5867
0322/P21500  134481520    515  PUT   21500  20190322  19.7996
0322/P21625  134481620    595  PUT   21625  20190322  20.2175
0322/P21750  134481720    680  PUT   21750  20190322  20.6464
0322/P21875  134481820    775  PUT   21875  20190322  21.3296
0322/P22000  134482020    875  PUT   22000  20190322  22.0795
0322/P22125  134482120    980  PUT   22125  20190322  22.9244
0322/P22250  134482220   1090  PUT   22250  20190322  23.8939
0322/P22375  134482320   1210  PUT   22375  20190322  25.2709
0322/P22500  134482520   1320  PUT   22500  20190322  26.0661
0329/P20500  134490520    190  PUT   20500  20190329  18.2347
0329/P20625  134490620    215  PUT   20625  20190329  17.7185
0329/P20750  134490720    250  PUT   20750  20190329  17.4775
0329/P20875  134490820    285  PUT   20875  20190329  17.0520
0329/P21000  134491020    325  PUT   21000  20190329  16.6426
0329/P21125  134491120    375  PUT   21125  20190329  16.4226
0329/P21250  134491220    425  PUT   21250  20190329  15.9890
0329/P21375  134491320    485  PUT   21375  20190329  15.7134
0329/P21500  134491520    555  PUT   21500  20190329  15.5904
0329/P21625  134491620    630  PUT   21625  20190329  15.4290
0329/P21750  134491720    715  PUT   21750  20190329  15.4424
0329/P21875  134491820    805  PUT   21875  20190329  15.4470
0329/P22000  134492020    905  PUT   22000  20190329  15.7042
0329/P22125  134492120   1010  PUT   22125  20190329  16.0353
0329/P22250  134492220   1120  PUT   22250  20190329  16.4850
0329/P22375  134492320   1230  PUT   22375  20190329  16.8019
0329/P22500  134492520   1340  PUT   22500  20190329  16.9723

[694 rows x 6 columns]

In [0]:
from google.colab import files


files.download('./op_code_list.csv')